*{
    margin: 0;
    padding: 0;


}
h1{

    font-family: sans-serif;
    text-align:center;
    margin-top: 300px;
    font-size: 150px;
    font-weight: 900;
    color: transparent;
    background-image: url("https://media.giphy.com/media/wedUH31bhhmnK/giphy.gif");
    background-position: center;
    -webkit-background-clip: text;
}